In [2]:
import pandas as pd

In [20]:
df = pd.read_excel("C:\Users\smc46\Desktop\Book1.xlsx")

In [14]:
df.sort(['age'], ascending=[False])

C:\Users\smc46\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

    id     age  name
5    6  4325.0  sert
12  13   567.0   ftu
10  11    68.0   etr
2    3    45.0   hty
4    5    31.0   dhg
7    8     7.0    sh
11  12     7.0   ytu
0    1     6.0     a
1    2     6.0     f
6    7     6.0    sh
3    4     5.0    iu
8    9     3.0    sh
9   10     2.0    ty
13  14     NaN   duy

In [16]:
df.describe()

            id          age
count  14.0000    13.000000
mean    7.5000   390.615385
std     4.1833  1192.036880
min     1.0000     2.000000
25%     4.2500          NaN
50%     7.5000          NaN
75%    10.7500          NaN
max    14.0000  4325.000000

In [18]:
types = df.dtypes

In [21]:
print types

id        int64
age     float64
name     object
dtype: object

In [23]:
df = pd.read_excel("C:\Users\smc46\Desktop\Book1.xlsx")

In [26]:
print df

    id     age name
0   10     2.0    f
1    9     3.0    f
2    4     5.0    f
3    1     6.0    m
4    2     6.0    f
5    7     6.0    f
6    8     7.0    m
7   12     7.0    f
8    5    31.0    f
9    3    45.0    m
10  11    68.0    m
11  13   567.0    m
12   6  4325.0    f
13  14     NaN    f

In [31]:
counts = df.groupby(['age','name'])

In [33]:
print counts

<pandas.core.groupby.DataFrameGroupBy object at 0x06B169F0>

In [39]:
print counts.size()

age
2.0       1
3.0       1
5.0       1
6.0       3
7.0       2
31.0      1
45.0      1
68.0      1
567.0     1
4325.0    1
dtype: int64

In [48]:
counts = df['name']

In [49]:
print counts

0     f
1     f
2     f
3     m
4     f
5     f
6     m
7     f
8     f
9     m
10    m
11    m
12    f
13    f
Name: name, dtype: object