In [13]:
df = pd.read_excel("C:\Users\smc46\Desktop\Book1.xlsx")

In [14]:
import pandas as pd

In [17]:
import numpy as np

In [25]:
x = np.mean(df.age)

In [26]:
print x

45.5454545455

In [21]:
x=head(df.age)

NameError: name 'head' is not defined

In [27]:
print df.head(5)

   id   age  gender
0   1  34.0       1
1   2  21.0       2
2   3  43.0       1
3   4  53.0       2
4   8  24.0       1

In [33]:
xxs = df.age.fillna(x)

In [35]:
print xxs

0     34.000000
1     21.000000
2     43.000000
3     53.000000
4     24.000000
5     53.000000
6     54.000000
7     65.000000
8     75.000000
9     34.000000
10    45.000000
11    45.545455
Name: age, dtype: float64

In [39]:
df = df.age.fillna(x)

AttributeError: 'Series' object has no attribute 'age'

In [42]:
print df.age

AttributeError: 'Series' object has no attribute 'age'

In [44]:
print df

0     34.000000
1     21.000000
2     43.000000
3     53.000000
4     24.000000
5     53.000000
6     54.000000
7     65.000000
8     75.000000
9     34.000000
10    45.000000
11    45.545455
Name: age, dtype: float64

In [58]:
df = pd.read_excel("C:\Users\smc46\Desktop\Book1.xlsx")

In [48]:
print df

    id   age  gender
0    1  34.0       1
1    2  21.0       2
2    3  43.0       1
3    4  53.0       2
4    8  24.0       1
5    7  53.0       1
6    6  54.0       2
7   10  65.0       1
8   11  75.0       2
9   12  34.0       1
10  13  45.0       2
11  14   NaN       1

In [50]:
import  numpy as np

In [52]:
meanAge = np.mean(df.age)

In [54]:
print meanAge

45.5454545455

In [56]:
df = df.age.fillna(meanAge)

AttributeError: 'Series' object has no attribute 'age'

In [60]:
print df

    id   age  gender
0    1  34.0       1
1    2  21.0       2
2    3  43.0       1
3    4  53.0       2
4    8  24.0       1
5    7  53.0       1
6    6  54.0       2
7   10  65.0       1
8   11  75.0       2
9   12  34.0       1
10  13  45.0       2
11  14   NaN       1

In [63]:
meanAge = np.mean(df.age)

In [65]:
rage = df.age.fillna(meanAge)

In [66]:
print rage

0     34.000000
1     21.000000
2     43.000000
3     53.000000
4     24.000000
5     53.000000
6     54.000000
7     65.000000
8     75.000000
9     34.000000
10    45.000000
11    45.545455
Name: age, dtype: float64